{% extends theme("layout.html") %}
{% from "macros/_forms.html" import render_errors %}

{% block content %}
<h2>{{ _('Change your password') }}</h2>

<form method="POST" action=".">
    {{ form.hidden_tag() }}
    <div style="display:none;">
        {{ form.activation_key }}
    </div>
    <ul>
        <li>
            {{ render_errors(form.password) }}
            {{ form.password.label }}
            {{ form.password }}
        </li>
        <li>
            {{ render_errors(form.password_again) }}
            {{ form.password_again.label }}
            {{ form.password_again }}
            </li>
        <li>
            {{ form.submit }}
        </li>
    </ul>
</form>
{% endblock %}
