{% extends theme("layout.html") %}
{% from "macros/_forms.html" import render_errors %}

{% set selected_tab="login" %}

{% block content %}

<h2>{{ _('Login to newsmeme') }}</h2>

<p>
{% trans openid_url=url_for('openid.login', next=form.next.data) %}
Login with <a href="{{ openid_url }}">OpenID</a>
{% endtrans %}
</p>

<form method="POST" action=".">
    {{ form.hidden_tag() }}
    {{ form.next }}
    <ul>
        <li>
            {{ render_errors(form.login) }}
            {{ form.login.label }} 
            {{ form.login(size=15) }}
        </li>

        <li>
            {{ render_errors(form.password) }}
            {{ form.password.label }} 
            {{ form.password(size=15) }}
        </li>
        <li>
            {{ form.remember.label(class_="checkbox") }}
            {{ form.remember }}
        </li>
        <li>
            {{ form.submit }}
            </li>
    </ul>
</form>
<p>
<a href="{{ url_for('account.signup', next=form.next.data) }}">{{ _('Not a member yet ? Sign up to newsmeme !') }}</a>
</p>
<p>
<a href="{{ url_for('account.forgot_password') }}">{{ _('Forgot your password ?') }}</a>
</p>

{% endblock %}
