{% extends theme("layout.html") %}

{% from "macros/_paginate.html" import paginate %}
{% from "macros/_post.html" import render_post with context %}


{% block content %}
<h2>{{ _('Search results for') }} '{{ keywords }}'</h2>
{% if page_obj.total %}
<h3>{{ _('Results') }} <strong>{{ page_obj.total }}</strong></h3>

<ul class="posts">
{% for post in page_obj.items %}
<li>
    {{ render_post(post) }}
</li>

{% endfor %}
</ul>

{% else %}
{{ _('Sorry, nothing found for your search.') }}
{% endif %}

{{ paginate(page_obj, page_url) }}

{% endblock %}
