{% extends theme("layout.html") %}
{% from "macros/_post.html" import markdown_link %}

{% block content %}
<h2><a href="{{ comment.post.url }}">{{ comment.post.title }}</a></h2>

{% if parent %}
{{ parent.markdown }}
{% endif %}

<form method="POST" action=".">
    {{ form.hidden_tag() }}
    <ul>
        <li>
            {{ form.comment }}
        </li>
        <li>
        {{ form.submit }}
            </li>
        <li>
            {{ markdown_link() }}
            </li>
 
    </ul>
</form>

{% endblock %}
